* {
  margin: 0;
}
a {
  text-decoration: none !important;
}
html {
  min-height: 100%;
}
body {
  background: #fff;
  position: relative;
}
input {
  outline: none;
}
[v-cloak] {
  display: none !important;
}
.login-cont {
  padding: 0 0.53333333rem;
  position: relative;
  margin-top: 2.66666667rem;
}
.login-cont .tel-input-cont {
  height: 1.06666667rem;
  border-bottom: 1px solid #bfbfbf;
  display: flex;
}
.login-cont .tel-input-cont img {
  padding-left: 0.10666667rem;
  padding-top: 0.26666667rem;
  height: 0.53333333rem;
}
.login-cont .tel-input-cont .tel-input {
  font-size: 0.42666667rem;
  border-radius: 0;
  border: none;
  padding-left: 10px;
}
.login-cont .code-input-cont {
  height: 1.06666667rem;
  border-bottom: 1px solid #bfbfbf;
  display: flex;
}
.login-cont .code-input-cont img {
  padding-top: 0.26666667rem;
  width: 0.53333333rem;
  height: 0.53333333rem;
}
.login-cont .code-input-cont .code-input {
  font-size: 0.42666667rem;
  border-radius: 0;
  border: none;
  padding-left: 10px;
}
.login-cont .code-btn {
  position: absolute;
  right: 0.53333333rem;
  width: 2.4rem;
  color: #a09f9f;
  font-size: 0.42666667rem;
  line-height: 1.06666667rem;
  text-align: center;
  background-color: grba(0, 0, 0, 0);
}
.login-cont .login-btn {
  margin-top: 4.8rem;
  background: #f08623;
  border-radius: 0.53333333rem;
  color: #ffffff;
}
