<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>奖励活动</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
    <!-- 这两个js要先引入 否则会引起样式的生效速度,用户体验不好 -->
    <script src="./commonJs/lib-flexible.js"></script>
    <script src="./commonJs/vue_cdn.js"></script>
    <link rel="stylesheet" href="./css/driverReward.css">
</head>
<body>
    <div id="app" class="container">
        <h3>魔急便奖励活动公告</h3>
            <h4>
                一、活动周期时间：每周六00:00-下周五23:59:59
            </h4>
            <h4>
                二、司机奖励活动内容：
            </h4>
            <h5>1、优秀伙伴奖（周六发放）：</h5>
            <p>
                奖励规则：每周六00:00-下周五23:59:59，累计完成订单排名前十的，第一名奖励188元，第二名奖励128元，第三名奖励88元，第四至第十名奖励38元。
            </p>
            <h5>2、每日订单有奖（实时发放）：</h5>
            <p>
                奖励规则：新用户首单购买奖励师傅1元/单，上不封顶；每日师傅首单销售奖励1元（可叠加实时发放）
            </p>

            <h5>3、累计冲单奖（周六发放）：</h5>
            <p>
                奖励规则：每周六00:00-下周五23:59:59，累计完成订单10单奖励10元；累计完成订单20单奖励30元，累计完成30单奖励60元。
            </p>
            <h5>4、展陈费奖（周六发放）</h5>
            <p>
                奖励规则：每周六00:00-下周五23:59:59累计完成订单超过1单；微信群发送车内货品照片一张；同时发送姓名及注册魔急便手机号；如该时间段累计订单超过5单可不用发照片即可获得25奖励(激活时间不足7天按比例发放)(奖励周期内0单不发放展陈费奖)
                <br>
                注：关注微信群、每日不定时临时冲单奖、福利活动多多；部分定向短信奖励活动以收到短信内容为准；历史奖励发放记录请点击奖励-奖励发放记录查询。
            </p>
            <h4>三、奖励说明</h4>
            <p>
                1、有效订单数:奖励活动周期时间内，已成功支付的订单数量（可在交易记录查询）。
            </p>

            <p>
                2、规则咨询：规则咨询：奖励发放核查及规则咨询，请在对应的微信群咨询；如未加入微信群请添加微信号17321386299咨询。
            </p>
    </div>
    <!--<script src="./commonJs/axios.js"></script>-->

    <!--<script src="./js/driverReward.js"></script>-->
</body>
</html>
