<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>新人有礼</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
    <!-- 这两个js要先引入 否则会引起样式的生效速度,用户体验不好 -->
    <script src="./commonJs/lib-flexible.js"></script>
    <script src="./commonJs/vue_cdn.js"></script>
    <link rel="stylesheet" href="./css/giftForNewPerson.css">
</head>
<body>
    <div id="app" class="container">
        <h2>魔急便新人有礼·活动说明</h3>
        <h3>新用户首单购物立减5元，全场通用无门槛</h3>
        <strong>活动说明：</strong>
        <p>1、自2018年1月12日起，新注册魔急便用户即可获得5元无门槛优惠券，下单即可享受立减5元优惠</p>
        <p>2、5元无门槛优惠券不可与其他优惠券叠加使用，每个订单仅可使用1张优惠券</p>
        <p>3、用户首次购物订单金额等于或低于5元时，使用5元无门槛优惠券后需支付0.01元；订单金额高于5元时，使用5元无门槛优惠券后需支付减免5元后的差额。</p>
        <p>4、凡利用活动开展恶意刷单，套现等违法违规行为者，魔急便将使用法律手段追究责任。</p>
    </div>
    <!--<script src="./commonJs/axios.js"></script>-->

    <!--<script src="./js/driverReward.js"></script>-->
</body>
</html>
