<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta region="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>补货站点</title>
    <link rel="icon" type="image/x-icon" href="./img/favicon.ico" />
    <link rel="stylesheet" href="./css/mint-ui.min.css">
    <link rel="stylesheet" href="./css/stationsList.css">
    <link rel="stylesheet" href="./css/font_icon/iconfont.css">
    <script src="./commonJs/lib-flexible.js"></script>

</head>

<body>
    <div id="app" v-cloak class="container">
        <div class="flex-cont" v-show="isShowSearch" @click="isSendClick">
            <div class="select-cont" @click="chooseProvince">
                <span>{{province.provinceName}}</span>
                <i class="iconfont icon-jiantouxia"></i>
            </div>
            <div class="select-cont" @click="chooseCity">
                <div class="line-left"></div>
                <span>{{city.cityName}}</span>
                <i class="iconfont icon-jiantouxia"></i>
                <div class="line-right"></div>
            </div>
            <div class="select-cont" @click="chooseDetails">
                <span>{{area.areaName}}</span>
                <i class="iconfont icon-jiantouxia"></i>
            </div>
        </div>
        <mt-popup v-model="visibleProvince" position="bottom">
            <div class='btn-flex-cont'>
                <div class="btn cancle" @click="cancleClick">取消</div>
                <div class="btn confirm" @click="confirmClick('province')">完成</div>
            </div>
            <mt-picker :slots="ProvinceList" @change="onProvinceChange"></mt-picker>
        </mt-popup>
        <mt-popup v-model="visibleCity" position="bottom">
            <div class='btn-flex-cont'>
                <div class="btn cancle" @click="cancleClick">取消</div>
                <div class="btn confirm" @click="confirmClick('city')">完成</div>
            </div>
            <mt-picker :slots="CityList" @change="onCityChange"></mt-picker>
        </mt-popup>
        <mt-popup v-model="visibleArea" position="bottom">
            <div class='btn-flex-cont'>
                <div class="btn cancle" @click="cancleClick">取消</div>
                <div class="btn confirm" @click="confirmClick('area')">完成</div>
            </div>
            <mt-picker :slots="AreaList" @change="onAreaChange"></mt-picker>
        </mt-popup>
        <div class="scroll-cont" :class="{ active: isActive }">
            <div class="item-cont" v-for="(item, index) in dataList" @click="itemClick(item, index)">
                <div class="position-cont">
                    <div class="img-cont">
                        <img :src='item.imgUrl' alt="">
                    </div>
                    <div class="detail-cont">
                        <strong class="title">{{item.name}}</strong>
                        <div class="sencond-line">
                            <p>{{item.address}}</p>
                            <strong>{{item.distance}}
                                <span v-if="isShowM && item.type !== 2 && item.showM">米</span>
                                <span v-else-if="isShowM && item.type !== 2 && !item.showM">公里</span>
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="./commonJs/lib.min.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="./commonJs/sha1.min.js"></script>
    <script src="./js/stationsList.js"></script>
</body>
</html>
