<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta region="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>站点详情</title>
    <link rel="icon" type="image/x-icon" href="../../img/favicon.ico"/>
    <!-- 这两个js要先引入 否则会引起样式的生效速度,用户体验不好 -->
    <script src="../../commonJs/lib-flexible.js"></script>
    <link rel="stylesheet" href="../../css/mint-ui.min.css">
    <link rel="stylesheet" href="../../css/statioDetails.css">
    <link rel="stylesheet" href="../../css/font_icon/iconfont.css">
</head>

<body>
    <div id="app" v-cloak class="container">
        <div class="station">站点：{{stationInfo.name}}</div>
        <div class="station">电话：{{stationInfo.stationTel}}</div>
        <div class="time-cont">
            <p>营业时间：{{stationInfo.workTimeDesc}}</p>
        </div>
        <div class="station" @click="mapClick">
            地址：{{stationInfo.address}}
            <span class="cont">
                <span style="color: orange">地图</span>
                <i class="iconfont icon-jiantouyou"></i>
            </span>
        </div>
        <div class="bottom-cont">
            <div class="title">{{stationInfo.name}}</div>
            <div class="img-cont">
                <img :src="stationInfo.img" alt="">
            </div>
        </div>
    </div>
    <script src="../../commonJs/lib.min.js"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="../../commonJs/sha1.min.js"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                id: null,
                stationInfo: {
                    name: '',
                    stationTel: '',
                    workTimeDesc: '',
                    address: '',
                    latitude: '',   // 纬度
                    longitude: '',  // 经度
                    img: 'https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=3345089115,4288723193&fm=27&gp=0.jpg',
                },
                jsApiList: [
                    'onMenuShareAppMessage',
                    'getLocation',
                    'openLocation',
                ]
            },
            created() {
                // var url = "http://192.168.1.23:8080/api-driver-web/station/stationInfo/" + this.id;
                var url = "http://test-api.xiaojubianli.com:8080/api-driver-web/station/stationInfo/" + sessionStorage.getItem("id");
                this.$http.get(url)
                    .then((res) => {
                        console.log('res:', res);
                        this.stationInfo = Object.assign({}, this.stationInfo, res.data.data);
                    })
                this.getWeixinJsapiTicket();
            },
            methods: {
                transferFn(data) {
                    // 将参数格式化
                    let result = '';
                    for (let i in data) {
                        result += encodeURIComponent(i) + '=' + encodeURIComponent(data[i]) + '&'
                    }
                    return result
                },
                getWeixinJsapiTicket() {
                    var self = this;
                    var url = "https://mgoapi.18jian.cn/api-account-web/wechat/driver/ticket/jsapi";
                    self.$http.get(url)
                        .then((res) => {
                            if (res.data.err_msg === 'success') {
                                var signArgs = {
                                    timestamp: (new Date()).getTime(),  // 时间戳
                                    noncestr: Math.random().toString(36).substr(2), // 随机字符串
                                    jsApiTicket: res.data.data.ticket,              // jsApiTicket
                                };

                                let url = location.href;
                                let preSha = 'jsapi_ticket=' + signArgs.jsApiTicket + '&noncestr=' + signArgs.noncestr + '&timestamp=' + signArgs.timestamp + '&url=' + url;
                                let signResult = {
                                    noncestr: signArgs.noncestr,
                                    timestamp: signArgs.timestamp,
                                    signature: sha1(preSha)
                                }
                                wx.config({
                                    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                                    appId: "wxd4c744355b802aec",
                                    timestamp: signResult.timestamp,
                                    nonceStr: signResult.noncestr,
                                    signature: signResult.signature,
                                    jsApiList: self.jsApiList
                                });
                                self.wxReady();
                            }
                        }).catch((err) => {
                            console.log('err', err);
                        });
                },
                wxReady() {
                    let self = this;
                    wx.ready(() => {
                        var imgUrl = "https://activity.mingbikes.com/public/static/images/send_free_card/logo_xm.png";
                        var link = window.location.href;
                        var desc = "测试";
                        // 朋友
                        wx.onMenuShareAppMessage({
                            title: "测试标题", // 分享标题
                            desc: desc, // 分享描述
                            link: link, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                            imgUrl: imgUrl, // 分享图标
                            success: function () {
                                // 用户确认分享后执行的回调函数
                                self.$messagebox({
                                    title: '提示',
                                    message: '分享成功',
                                    showCancelButton: false,
                                    confirmButtonText: "确认"
                                });
                            }
                        });
                        // 获取位置
                        wx.getLocation({
                            type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
                            success: function (res) {
                                var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
                                var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
                                var speed = res.speed; // 速度，以米/每秒计
                                var accuracy = res.accuracy; // 位置精度
                                console.log('res:', res);
                            }
                        });


                    })
                },

                mapClick() {
                    // 使用微信内置地图查看位置接口
                    wx.openLocation({
                        latitude: this.stationInfo.latitude, // 纬度，浮点数，范围为90 ~ -90
                        longitude: this.stationInfo.longitude, // 经度，浮点数，范围为180 ~ -180。
                        // latitude: 30.27415, // 纬度，浮点数，范围为90 ~ -90
                        // longitude: 120.15515, // 经度，浮点数，范围为180 ~ -180。
                        name: this.stationInfo.name, // 位置名
                        address: this.stationInfo.address, // 地址详情说明
                        scale: 8, // 地图缩放级别,整形值,范围从1~28。默认为最大
                        // infoUrl: 'https://mp.weixin.qq.com/wiki?t=resource/res_main&id=mp1421141115' // 在查看位置界面底部显示的超链接,可点击跳转
                    });
                }
            }
        });
    </script>
</body>

</html>
