<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta region="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <title>站点详情</title>
    <link rel="icon" type="image/x-icon" href="./img/favicon.ico" />
    <link rel="stylesheet" href="./css/mint-ui.min.css">
    <link rel="stylesheet" href="./css/stationDetailsForDiDi.css">
    <link rel="stylesheet" href="./css/font_icon/iconfont.css">
    <script src="./commonJs/lib-flexible.js"></script>
</head>

<body>
    <div id="app" v-cloak class="container">
        <div class="station">站点：{{stationInfo.name}}</div>
        <div class="station">电话：{{stationInfo.stationTel}}</div>
        <div class="time-cont">
            <p>营业时间：{{stationInfo.workTimeDesc}}</p>
        </div>
        <div class="station stationName" :data-clipboard-text="stationInfo.address" @click="mapClick">
            地址：{{stationInfo.addressCopy}}
            <span class="copy">
                点击复制
            </span>
        </div>
        <div class="bottom-cont">
            <div class="title">{{stationInfo.name}}</div>
            <div class="img-cont">
                <img :src="stationInfo.imgUrl" alt="">
            </div>
        </div>
    </div>
    <script src="./commonJs/lib.min.js"></script>
    <script src="./js/stationDetailsForDiDi.js"></script>
    <script src="./js/clipboard.min.js"></script>
</body>

</html>
