<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta region="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>补货站点</title>
    <link rel="icon" type="image/x-icon" href="./img/favicon.ico" />
    <link rel="stylesheet" href="./css/mint-ui.min.css">
    <link rel="stylesheet" href="./css/stationsListForDiDi.css">
    <link rel="stylesheet" href="./css/font_icon/iconfont.css">
    <script src="./commonJs/lib-flexible.js"></script>

</head>

<body>
    <div id="app" v-cloak class="container">
        <div class="scroll-cont" :class="{ active: isActive,isUsePadding: isShowSearch,isUseOverflow: isShowSearch }">
            <div class="item-cont" v-for="(item, index) in dataList" @click="itemClick(item, index)">
                <div class="position-cont">
                    <div class="img-cont">
                        <img :src='item.imgUrl' alt="">
                    </div>
                    <div class="detail-cont">
                        <strong class="title">{{item.name}}</strong>
                        <div class="sencond-line">
                            <p>{{item.address}}</p>
                            <strong>{{item.distance}}
                                <span v-if="isShowM && item.type !== 2 && item.showM">米</span>
                                <span v-else-if="isShowM && item.type !== 2 && !item.showM">公里</span>
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
            <div v-show='showLoading && !isShowSearch' style="width:100%;height:60px;line-height:60px;text-align:center;margin-bottom:10px;">Loading...</div>
            <div v-show='showTitle && !isShowSearch' style="width:100%;height:60px;line-height:60px;text-align:center;">已经加载所有数据</div>
        </div>

    </div>
    <script src="./commonJs/lib.min.js"></script>
    <script src="./js/stationsListForDiDi.js"></script>
</body>
</html>
