<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MGO传送门</title>
    <link rel="icon" type="image/x-icon" href="./img/favicon.ico"/>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./css/protal.css">
</head>

<body>
    <div id="app" v-cloak :class="{bodyStyle: isShow}">
        <div class="details-cont">
            <el-row :gutter="20" v-for="obj in list">
                <el-col :span="6" v-for="(item, index) in obj.sonList">
                    <div class="item-style" @click="firstLineClick(item, index)">{{item.name}}</div>
                </el-col>
            </el-row>
        </div>
    </div>
    <!-- 先引入 Vue -->
    <script src="./commonJs/lib.min.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="./js/protal.js"></script>
</body>

</html>
