<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/x-icon" href="./img/favicon.ico"/>
    <!-- 这两个js要先引入 否则会引起样式的生效速度,用户体验不好 -->
    <script src="./commonJs/lib-flexible.js"></script>
    <link rel="stylesheet" href="./css/mint-ui.css">
    <link rel="stylesheet" href="./css/login.css">
    <title>登陆</title>
</head>
<body>
<div id="app" v-cloak>
    <div class="login-cont">
        <div class="tel-input-cont">
            <img src="./img/phone.png" alt="">
            <input class="tel-input" type="tel" placeholder="请输入手机号" v-model="query.tel"/>
        </div>
        <div class="code-input-cont">
            <img src="./img/yzm.png" alt="">
            <input class="code-input" placeholder="请输入验证码" v-model="query.code"/>
            <div @click="sendCodeRequest" class="code-btn" v-if="showCanClick">
                {{sendBtnText}}
            </div>
            <div class="code-btn" v-else>
                {{sendBtnText}}
            </div>
        </div>
        <mt-button class="login-btn" type="" size="large" @click="loginClick">登陆</mt-button>
    </div>
</div>

</body>
<script src="./commonJs/lib.min.js"></script>
<script src="./js/login.js"></script>
</html>
