<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
    <!-- 这两个js要先引入 否则会引起样式的生效速度,用户体验不好 -->
    <script src="./commonJs/lib-flexible.js"></script>
    <script src="./commonJs/vue_cdn.js"></script>
    <link rel="stylesheet" href="./css/mint-ui.css">
    <script src="./commonJs/mint-ui.js"></script>
    <link rel="stylesheet" href="./css/myOrder.css">
    <title></title>
</head>

<body>
    <div id="app">

    </div>

</body>
<script src="./commonJs/axios.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {},

        created: function () {
            location.href = 'https://mgo2.18jian.cn/get-weixin-code.html?appid=wx5305351c290c2c33&scope=snsapi_base&state=https://mgoapi.18jian.cn/api-mp/api/passenger/passengerOrderList&redirect_uri=https://mp.18jian.cn/passenger/myOrder.html';
        },
        methods: {}
    });

</script>

</html>
