* {
  margin: 0;
}
a {
  text-decoration: none!important;
}
html {
  width: 100%;
}
[v-cloak] {
  display: none !important;
}
body {
  background: #fff;
}
input {
  outline: none;
}
.container {
  padding: 0.42666667rem;
  font-size: 0.34666667rem;
}
.container .text-indent-style {
  text-indent: 2em;
}
.container p {
  line-height: 0.64rem;
}
.container .title {
  font-weight: 800;
}
.container .last-line {
  text-align: right;
  font-weight: 800;
  padding-right: 0.53333333rem;
}
