<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <title>奖励活动</title>
    <link rel="icon" type="image/x-icon" href="./img/favicon.ico" />
    <link rel="stylesheet" href="./css/driverReward.css">
    <!-- 这两个js要先引入 否则会引起样式的生效速度,用户体验不好 -->
    <script src="./commonJs/lib-flexible.js"></script>
</head>

<body>
    <div id="app" v-cloak class="container">
        <div v-if="initShow">
            <div v-if="isShowDefaut">
                <div class="title">魔急便奖励活动公告</div>
                <br>
                <p class="title-third">感谢各位魔急便师傅支持，魔急便4月份产品升级，推出全新展陈和货品，为保障每一位魔急便司机收入，推出司机保底计划。更换新展陈司机完成保底计划任务后享保底计划特权。</p>
                <br>
                <p  class="title-third red-style">老展陈司机目前享有的奖励：拉新乘客奖、单日冲单奖、每日精英奖、展陈费奖励，自2018年4月22日截止。各位魔急便师傅可及时联系工作人员更换新展陈，享受保底计划奖励。</p>
                <p class="title-third" style="padding-top: 5px;">附：</p>
                <div class="title-weight">魔急便奖励活动公告</div>
                <br>
                <p class="title-third">
                    2018年4月11日-2018年12月31日。自司机加入魔急便车载零售项目之日起，可享受一年保底奖励。 相关奖励细则如下：
                </p>
                <p class="font-weight">保底奖励：</p>
                <p class="title-third">
                    符合考核条件，按周发放保障收入，保障期间提成翻倍（从基本的20%提成上涨至40%提成）。具体金额如下：
                </p>
                <p class="title-third">
                    1.  完成当周任务的司机，若其本周收入低于100元，则补发奖励使其本周收入达到100元;
                </p>
                <p class="title-third">
                    2.  所有参与保障收入计划的司机，前3个月为新手保障期，无论周任务是否完成，保障期间提成翻倍（由20%上调至40%）;
                </p>
                <p class="title-third">
                    3. 所有参与保障收入计划的司机，第4-12个月，完成周任务，享受提成翻倍（由20%上调至40%）；第4-12个月，未完成周任务的司机，提成仍为基本的20%;
                </p>
                <p class="font-weight">奖励考核条件：</p>
                <p class="title-third">1.每周完成15单新乘客订单;</p>
                <p class="title-third">2.每周站点补一次货;</p>
                <p class="title-third">3.每周至少有三天上传展呈照片并通过审核;</p>
                <p class="title-third">4.每周销售额要求：</p>
                <p class="title-third padding-style">-第1月每周销售额要求：100元;</p>
                <p class="title-third padding-style">-第2月每周销售额要求：150元;</p>
                <p class="title-third padding-style">-第3月-12月每周销售额要求：200元;</p>
                <p class="title-third">5.考核周期：</p>
                <p class="title-third">考核周期周一至周日，加入起每周考核。</p>
                <p class="title-third">当周完成上述4个任务的司机可以得到100元的保底收入;</p>
                <p class="title-third">若司机在加入日当周完成周任务，则当周即可享受保底;</p>
                <p class="title-third">若司机在加入日当周未完成周任务，则保底计划下周开始生效;</p>
                <p class="font-weight">作弊处罚：</p>
                <p class="title-third">活动周期内如出现有刷单等作弊行为，即取消奖励资格。</p>
            </div>
            <div v-else>
                <div class="title">专车测试司机端奖励活动</div>
                <p class="title-first">一、司机奖励活动</p>
                <p class="title-third">1.展陈费：奖励5元/日；由专车事业部提供司机是否出车数据，次日发放前一日展陈费用。</p>
                <p class="title-third">2.销售提成：每单成交金额30%销售提成，进口红牛销售额100%成。</p>
                <p class="title-third">3.派样商品奖励：新用户0.01元购买，司机奖励奖2元/单，每日奖励上限15单奖励。</p>
                <p class="title-first">二、司机奖励活动</p>
                <p class="title-third">活动咨询：联系电话18589068668（微信同号）</p>
                <p class="title-third">客服咨询：联系电话15002439091（同微信号）</p>
            </div>
        </div>

    </div>
    <script src="./commonJs/lib.min.js"></script>
    <script src="./js/driverReward.js"></script>
</body>

</html>
