<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>奖励活动</title>
    <link rel="icon" type="image/x-icon" href="./img/favicon.ico" />
    <link rel="stylesheet" href="./css/driverReward.css">
    <!-- 这两个js要先引入 否则会引起样式的生效速度,用户体验不好 -->
    <script src="./commonJs/lib-flexible.js"></script>
</head>

<body>
    <div class="container">
        <div class="title">魔急便奖励活动公告</div>

        <p class="title-first">一、常规奖励：</p>
        <p class="title-second">1.拉新乘客奖</p>
        <p class="title-third">新用户首单购买奖励师傅1元/单，上不封顶（实时发放）。</p>

        <p class="title-second">2.单日冲单奖：</p>
        <p class="title-third">每日师傅完成订单满3单奖励5元，满10单奖励10元（不叠加，次日核算后发放）</p>
        <p style="color:red">特别说明：特殊商品（如：CoCo小黄鸭棒棒糖），0.01元购买的订单不计入单日冲单奖</p>

        <p class="title-second">3.每日精英奖：</p>
        <p class="title-third">每日销售总订单数第一的师傅奖励66元（次日核算后发放）。</p>

        <p class="title-first">二、展陈费奖励：</p>
        <p class="title-third">奖励金额：每周25元（周六发放）(激活时间不足7天按比例发放)。</p>
        <p class="title-third">奖励规则：周六0:00到第二周周五23:59:59周期内累计完成订单超过1单；周四0:00-周五23:59:59魔急便合伙人后台上传展陈照片且审核通过（照片规范见“上传展陈”）。</p>

        <p class="title-third">上传照片路径：魔急便合伙人-自助查询-上传展陈</p>
        <p class="title-first">三、奖励相关说明：</p>
        <p class="title-third">1.历史奖励发放记录请点击奖励-奖励发放记录查询</p>
        <p class="title-third">2.有效订单数:奖励活动周期时间内，已成功支付的订单数量（可在交易记录查询）</p>
        <p class="title-third">3.关注微信群、每日不定时临时冲单奖、福利活动多多；部分定向短信奖励活动以收到短信内容为准。</p>
        <p class="title-third">4.奖励发放核查及规则咨询，请在对应的微信群咨询；如未加入微信群请添加微信号17321386299咨询。</p>
        <p class="title-third red-style">注：以上活动奖励规则2018-01-27 00:00:00生效</p>
    </div>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?706525a2a3b75ff08c0120a12e94b4ca";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</body>

</html>
