<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>周五半价日</title>
    <link rel="icon" type="image/x-icon" href="./img/favicon.ico" />
    <link rel="stylesheet" href="./css/giftForNewPerson.css">

    <script src="./commonJs/lib-flexible.js"></script>
</head>

<body>
    <div id="app" class="container">
        <div class="header">
            <div>
                <strong>活动预告</strong>
            </div>
            <br>
            <h2>魔急便-周五半价日</h3>
                <br>
                <div>
                    <strong>本周五</strong>
                </div>

                <div>
                    <strong>单单满10减5！</strong>
                </div>
                <div>
                    <strong>新用户首单立减3元，无门槛！</strong>
                </div>
        </div>
        <br>
        <strong>活动说明：</strong>
        <p>1、本周五（1月19日），所有魔急便用户可领取3张满10减5优惠券，单笔订单金额达到10元，即可享受5元优惠减免。每个用户当天使用满10减5券的优惠订单限3单。</p>
        <p>2、本周五（1月19日）当天新注册魔急便用户获得3元无门槛优惠券，下单即可享受立减3元优惠；用户首次购物订单金额等于或低于3元时，使用3元无门槛优惠券后需支付0.01元；订单金额高于3元时，使用3元无门槛优惠券后需支付减免3元后的差额。</p>
        <p>3、以上优惠券不可与其他优惠券叠加使用，每个订单仅可使用1张优惠券。</p>
        <p>4、以上优惠券仅限1月19日当天有效，逾期失效。</p>
    </div>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?706525a2a3b75ff08c0120a12e94b4ca";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</body>

</html>
