<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>MGO&咪咕福利</title>
    <link rel="icon" type="image/x-icon" href="./img/favicon.ico" />
    <link rel="stylesheet" href="./css/MiGoForBanner.css">
    <script src="./commonJs/lib-flexible.js"></script>
    <script src="./commonJs/lib.min.js"></script>
</head>

<body>
    <div id="app" v-cloak class="container">
        <div class="top-cont">
            <img src="./img/B_MiGoForBannerTop.png" alt="">
        </div>
        <div class="bottom-cont">
            <img src="./img/B_MiGoForBannerBot.png" alt="">
            <div class="details-cont">
                <div class="title-cont">
                    <span>-</span>
                    <strong>活动规则</strong>
                    <span>-</span>
                </div>
                <p>1.扫码进入Mobile Go魔急便官方微信</p>
                <p>2.首次关注Mobile Go魔急便的用户点击后台发送的链接即可立即领券</p>
                <p>3.已经关注Mobile Go魔急便的用户请在微信后台回复“福利”点击链接，即可领取咪咕阅读10元券</p>
                <div class="qr-cont">
                    <img src="./img/B_QR.png" alt="">
                </div>
                <div class="scan-me">扫我进入Mobile Go</div>
            </div>
        </div>
    </div>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="./commonJs/sha1.min.js"></script>
    <script src="./js/MiGoForBanner.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?706525a2a3b75ff08c0120a12e94b4ca";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</body>

</html>
