<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>春节放假安排</title>
    <link rel="icon" type="image/x-icon" href="./img/favicon.ico"/>
    <link rel="stylesheet" href="./css/notifyForNewYear.css">
    <script src="./commonJs/lib-flexible.js"></script>
</head>
<body>
    <div class="container">
        <p class="title">尊敬的魔急便合伙人：</p>
        <p>
            Mobile Go魔急便春节放假时间为2018年2月10日至2018年2月21日；2018年2月22日正常上班；现同步放假期间各项安排如下：
        </p>
        <p class="son-title">一、司机奖励 </p>
        <p>冲单奖：每日满3单奖励5元；满10单奖励10元（次日8点系统自动发放）</p>
        <p>展陈费奖励：每周四、周五在个人中心-上传展陈拍摄上传照片，周六发放展陈费用奖励。</p>
        <p class="son-title">二、优惠券</p>
        <p>新老用户每日发放满10减2和满20减5劵各一张（如有券则不补发）。</p>
        <p>司机专属优惠券：满2减1、满10减2、满20减5各一张（如有券则不补发）。</p>
        <p>特别说明：1分钱小黄鸭棒棒糖活动将于2018年2月10日下线。</p>
        <p class="son-title">三、司机提现</p>
        <p>放假期间司机可正常发起提现操作；2月13日、2月20日2个打款时间因银行放假等原因，无法提供转款；2月5日至2月25日期间提现申请统一安排在2月27日进行复核打款操作。</p>
        <p class="son-title">四、司机补货</p>
        <p>放假期间对于停业无法补货站点公司会及时在合伙人公众号更新，请大家需求补货时实时查看是否有对应补货点在前往进行补货，因放假原因部分站点如存在缺货情况，敬请谅解！</p>
        <p style="padding-top: 4px;">Mobile Go魔急便全体员工祝各位合伙人新春愉快、合家欢乐、万事如意！！！</p>
    </div>

</body>
</html>
