<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>临保通知</title>
    <link rel="icon" type="image/x-icon" href="./img/favicon.ico" />
    <link rel="stylesheet" href="./css/overdueNotify.css">
    <!-- 这两个js要先引入 否则会引起样式的生效速度,用户体验不好 -->
    <script src="./commonJs/lib-flexible.js"></script>
</head>

<body>
    <div class="container">
        <p class="title">尊敬的魔急便合伙人：</p>
        <p class="text-indent-style">经系统检测，部分司机管理的车载货架内商品，已经接近保质期。为避免因此产生的严重隐患，我司即日起，严格按照国家商品流通管理规定，对临近保质期商品限制交易，有部分司机管理货架之对应账号的交易功能将被暂时冻结。我司也将对相关司机进行短信告知。</p>
        <p class="text-indent-style">如果您管理货架之账号被冻结，由此给您带来的不便敬请谅解。我司希望被暂时冻结账号的司机，收到我司通知短信后，于3月9日前，到魔急便指定补货点（西斗门路9号）办理商品退换手续，并解冻账号。如逾期未至指定地点，办理相关手续，您所管理货架内我司商品损失，将由您全责承担。</p>
        <p>再次感谢您的理解与支持。</p>
        <br><br>
        <p class="last-line">Mobile Go魔急便</p>
    </div>
</body>

</html>
