* {
  margin: 0;
}
html,
body {
  height: 100%;
  background: rgba(173, 216, 230, 0.3);
}
.container {
  padding: 0.26666667rem;
}
.container .title {
  font-size: 0.53333333rem;
  text-align: center;
}
.container .title-first {
  font-size: 0.4rem;
  padding: 0.10666667rem 0;
}
.container .title-second {
  font-size: 0.34666667rem;
  padding: 0.10666667rem 0;
}
.container .title-third {
  line-height: 0.53333333rem;
}
.container .red-style {
  color: red;
}
