* {
  margin: 0;
}
a {
  text-decoration: none!important;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
.container {
  height: 100%;
}
.container .top-cont {
  height: 43%;
  padding: 0.26666667rem 0.26666667rem;
}
.container .top-cont img {
  width: 100%;
  height: 100%;
}
.container .bottom-cont {
  height: 54%;
  padding: 0 0.26666667rem;
  position: relative;
}
.container .bottom-cont img {
  width: 100%;
  height: 94%;
}
.container .bottom-cont .details-cont {
  width: 80%;
  height: 93%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}
.container .bottom-cont .details-cont .title-cont,
.container .bottom-cont .details-cont .qr-cont {
  width: 2.93333333rem;
  margin: 0 auto;
}
.container .bottom-cont .details-cont .title-cont {
  margin-top: 0.26666667rem;
}
.container .bottom-cont .details-cont .qr-cont {
  margin-top: 0.26666667rem;
}
.container .bottom-cont .details-cont .scan-me {
  width: 42%;
  margin: 0 auto;
  text-align: center;
}
.container .bottom-cont .details-cont span {
  color: #c10505;
  font-size: 0.53333333rem;
}
.container .bottom-cont .details-cont strong {
  font-size: 0.53333333rem;
}
.container .bottom-cont .details-cont p {
  margin-bottom: 0.08rem;
  line-height: 0.53333333rem;
}
