* {
  margin: 0;
}
[v-cloak] {
  display: none !important;
}
a {
  text-decoration: none!important;
}
html {
  min-height: 100%;
  height: 100%;
}
body {
  background: #fff;
  min-height: 100%;
  position: relative;
}
.container {
  height: 100%;
  padding: 0 0.26666667rem;
}
.container .flex-cont {
  display: flex;
}
.container .flex-cont .select-cont {
  font-size: 0.37333333rem;
  height: 1.17333333rem;
  line-height: 1.17333333rem;
  width: 3.25333333rem;
  color: #343434;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
  position: relative;
}
.container .flex-cont .select-cont span {
  padding-left: 0.13333333rem;
}
.container .flex-cont .line-left {
  position: absolute;
  left: 0;
  top: 0.26666667rem;
  box-sizing: border-box;
  width: 0.01333333rem;
  height: 0.53333333rem;
  border-right: 1px solid #d9d9d9;
}
.container .flex-cont .line-right {
  position: absolute;
  right: 0;
  top: 0.26666667rem;
  box-sizing: border-box;
  width: 0.01333333rem;
  height: 0.53333333rem;
  border-right: 1px solid #d9d9d9;
}
.item-cont {
  height: 2.4rem;
  border-bottom: 1px solid #d9d9d9;
}
.item-cont .position-cont {
  display: flex;
  padding: 0.4rem 0;
}
.item-cont .position-cont .img-cont {
  width: 2.4rem;
  height: 1.6rem;
}
.item-cont .position-cont .img-cont img {
  width: 100%;
}
.item-cont .position-cont .detail-cont {
  padding-left: 0.26666667rem;
}
.item-cont .position-cont .detail-cont .title {
  display: block;
  margin-top: 0.13333333rem;
  font-size: 0.37333333rem;
  color: #343434;
}
.item-cont .position-cont .detail-cont .sencond-line {
  font-size: 0.29333333rem;
  position: relative;
  margin-top: 0.13333333rem;
  width: 6.8rem;
}
.item-cont .position-cont .detail-cont .sencond-line p {
  width: 5.86666667rem;
}
.item-cont .position-cont .detail-cont .sencond-line strong {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #343434;
}
.mint-toast-text {
  font-size: 0.42666667rem;
}
.picker {
  width: 10rem;
}
.picker-items {
  margin-top: 0.53333333rem;
}
.picker-item {
  font-size: 0.42666667rem;
}
.btn-flex-cont {
  margin-top: 0.4rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.53333333rem;
}
.btn-flex-cont .cancle {
  margin-left: 0.26666667rem;
  color: #828282;
}
.btn-flex-cont .confirm {
  margin-right: 0.26666667rem;
  color: #FF9900;
}
.mint-popup.mint-popup-bottom {
  height: 6.66666667rem;
}
